
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div id="plantList" class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">Success card title</h5>
      <p id="plantID" class="card-text"></p>
    </div>
</div>