<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartGarden</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/aboutus.css">
</head>
<body>
  <%- include ('partials/elements/navbar.ejs') %>

  <section class="home">

    <div class="jumbo">
            <h1 class="jumbo-text">About Us</h1>
    </div>

  </section>

    <div class="post-splash">

      <div class="cards-container">
        <div class="headshot-card">
            <div class="headshot" ><img src="images/Michael.jpg" alt=""></div>
            <div class="headshot-content">
              <p class="content">

                <b>Michael Cortez</b>
                <br> <br> <br>
                <a href="mailto:michael.cortez78@gmail.com?subject=Hello%20Michael!"><img src="https://img.shields.io/badge/email-%23D14836.svg?&style=for-the-badge&logo=gmail&logoColor=white" /></a>&nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/michael-cortez-boilermaker/"><img src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>&nbsp;&nbsp;
                <a href="https://github.com/cortezmb"><img src="https://img.shields.io/badge/GitHub-%23181717.svg?&style=for-the-badge&logo=github&logoColor=white"/></a>

              </p>
            </div>
        </div>

        <div class="headshot-card">
            <div class="headshot" ><img src="images/WoodyHeadshot.JPG" alt=""></div>
            <div class="headshot-content">
              <p class="content">

                <b>Woody Connell</b>
                <br> <br> <br>
                <a href="mailto:woodyconnell@gmail.com@gmail.com?subject=Hello%20Woody!"><img src="https://img.shields.io/badge/email-%23D14836.svg?&style=for-the-badge&logo=gmail&logoColor=white" /></a>&nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/woodyconnell/"><img src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>&nbsp;&nbsp;
                <a href="https://github.com/woody-connell22"><img src="https://img.shields.io/badge/GitHub-%23181717.svg?&style=for-the-badge&logo=github&logoColor=white"/></a>

              </p>
            </div>
        </div>

        <div class="headshot-card">
            <div class="headshot"><img src="images/Jeremy.jpg" alt=""></div>
            <div class="headshot-content">
              <p class="content">

                <b>Jeremy Roussel</b>
                <br> <br> <br>
                <a href="mailto:jeremyroussel@hey.com?subject=Hello%20Jeremy!"><img src="https://img.shields.io/badge/email-%235522FA.svg?&style=for-the-badge&logo=hey&logoColor=white" /></a>&nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/jeremyroussel/"><img src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>
                <br> <br>
                <a href="https://jeremyroussel.com"><img src="https://img.shields.io/badge/Personal-%23738A94.svg?&style=for-the-badge&logo=ghost&logoColor=white"/></a>&nbsp;&nbsp;
                <a href="https://github.com/JeremyRoussel"><img src="https://img.shields.io/badge/GitHub-%23181717.svg?&style=for-the-badge&logo=github&logoColor=white"/></a>

              </p>
            </div>
        </div>

        <div class="headshot-card">
            <div class="headshot"><img src="images/Chris.jpg" alt=""></div>
            <div class="headshot-content">
              <p class="content">

                <b>Chris David</b>
                <br> <br> <br>
                <a href="mailto:C.David88@protonmail.com?subject=Hello%20David!"><img src="https://img.shields.io/badge/email-%238B89CC.svg?&style=for-the-badge&logo=protonmail&logoColor=white" /></a>&nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/christopher-david-58543423/"><img src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>&nbsp;&nbsp;
                <a href="https://github.com/CM-David"><img src="https://img.shields.io/badge/GitHub-%23181717.svg?&style=for-the-badge&logo=github&logoColor=white"/></a>

              </p>
            </div>
        </div>
    </div>
       

    </div>

    <!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    


    <script src="js/navBarScript.js"></script>



</body>
</html>