<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SmartGarden</title>
  <!-- <link rel="stylesheet" href="/css/homestyles.css"> -->
</head>
<body>
  <!-- <div id="bootstrapOverride">
    <%- include ('partials/elements/navbarHomepage.ejs') %>
  </div> -->


  <!-- <div class="row">
    <div class="col-md-12"> -->
      <form action="/forgot" method="POST">
        <legend>Forgot Password</legend>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" autofocus class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Reset Password">
        </div>
      </form>
    <!-- </div>
  </div> -->


      <!-- Jquery needed -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <!-- <script src="js/navBarScript.js"></script> -->

</body>
</html>