<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartGarden</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <%- include ('partials/elements/navbarLogin.ejs') %>

  <section class="home">

    <div class="jumbo">
            <h1 class="jumbo-text">Login</h1>
    </div>

  </section>

<div class="formBox">

  <form class="form-style-9" action="/login" method="POST">
    <ul>
      <li>
          <input type="text" name="email" class="field-style field-full" placeholder="Email" />
      </li>
      <li>
          <input type="password" name="password" class="field-style field-full" placeholder="Password" />
      </li>
      <li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Login" />
      </li>
    </ul>
    </form>

</div>

    <!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    


    <script src="js/navBarScript.js"></script>



</body>
</html>