<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartGarden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/addPlantModal.css">
</head>
<body>
  <%- include ('partials/elements/navbarUser.ejs') %>

  <section class="home">

    <div class="jumbo">
            <h1 class="jumbo-text">User</h1>
    </div>

  </section>

    <div class="post-splash">
        

    </div>
    <div class="formBox">
      <%- include ('partials/elements/addPlant.ejs') %>
    </div>
    

    <!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    


    <script src="/js/navBarScript.js"></script>

    <script src="js/addPlantScript.js"></script>

</body>
</html>